<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Logo -->
    <link rel="shortcut icon" href="../static/logo-removebg-preview.png" />
    <link rel="shortcut icon" href="../static/logo.ico" type="image/x-icon" />

    <!-- My Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Telex&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Spinnaker&display=swap" rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <!-- My CSS -->
    <link rel="stylesheet" href="../static/style.css" />

    <title>Welcome | Nauftams</title>
  </head>
  <body id="home">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top bg-light">
      <div class="container">
        <img src="../static/logo-removebg-preview.png" width="70px" alt="" />
        <a class="navbar-brand judul" href="#">Nauftams</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link active" aria-current="page" href="#home"><i class="bi bi-house-fill"></i> Home</a>
            <a class="nav-link" href="#about">About Me</a>
            <a class="nav-link" href="#skills">Skills</a>
            <a class="btn btn-secondary tombol" href="#contact"><i class="bi bi-telephone-fill"></i> Contact</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- End of Navbar -->
    <!-- Jumbotron -->
    <section class="jumbotron text-center">
      <img src="../static/profile (1).jpg" alt="Fathan Naufal" class="rounded-circle img-thumbnail" width="150px" />
      <h1 class="display-4">Fathan Naufal</h1>
      <p class="lead">Student | Developer</p>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#6c757d"
          fill-opacity="1"
          d="M0,160L60,154.7C120,149,240,139,360,122.7C480,107,600,85,720,96C840,107,960,149,1080,149.3C1200,149,1320,107,1380,85.3L1440,64L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
        ></path>
      </svg>
    </section>
    <!-- End of Jumbotron -->
    <!-- About Me -->
    <section class="about bg-secondary" id="about">
      <div class="container">
        <div class="row text-center mb-3">
          <div class="col"><h2 class="about-me">About Me</h2></div>
        </div>
        <div class="row fs-5 justify-content-center text-center">
          <div class="col-md-4 about mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam incidunt vero rerum quaerat itaque error dolores quo sequi delectus fugit.</div>
          <div class="col-md-4 about">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae reprehenderit id atque dolor, omnis fugiat possimus repudiandae consequuntur deleniti cupiditate consectetur voluptate aliquid. Rem, soluta?
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,192L60,165.3C120,139,240,85,360,90.7C480,96,600,160,720,181.3C840,203,960,181,1080,176C1200,171,1320,181,1380,186.7L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
        ></path>
      </svg>
    </section>
    <!-- End of About Me -->
    <!-- My Skills -->
    <section class="skills" id="skills">
      <div class="container">
        <div class="row text-center">
          <div class="col mb-4 my-skills"><h2>My Skills</h2></div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
          <div class="card">
            <img src="../static/htmllogo.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title skills-title">HTML</h5>
              <p class="card-text skills-text">The HyperText Markup Language, or HTML is the standard markup language for documents designed to be displayed in a web browser.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card">
            <img src="../static/csslogo.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title skills-title">CSS</h5>
              <p class="card-text skills-text">Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language such as HTML.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card">
            <img src="../static/jslogoo.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title skills-title">JavaScript</h5>
              <p class="card-text skills-text">JavaScript, often abbreviated as JS, is a programming language that conforms to the ECMAScript specification. JavaScript is high-level, often just-in-time compiled, and multi-paradigm.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card">
            <img src="../static/bootstrap-icons.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title skills-title">Bootsrap</h5>
              <p class="card-text skills-text">Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card">
            <img src="../static/flask.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title skills-title">Flask</h5>
              <p class="card-text skills-text">Flask is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries.</p>
            </div>
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#6c757d"
          fill-opacity="1"
          d="M0,192L80,208C160,224,320,256,480,240C640,224,800,160,960,149.3C1120,139,1280,181,1360,202.7L1440,224L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
        ></path>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#6c757d" fill-opacity="1" d="M0,192L80,208C160,224,320,256,480,240C640,224,800,160,960,149.3C1120,139,1280,181,1360,202.7L1440,224L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
      </svg>
    </section>
    <!-- End of My Skills -->
    <!-- Contact -->
    <section class="contact" id="contact">
      <div class="container">
        <div class="row text-center">
          <div class="col mb-3">
            <h2>Contact Me</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6">
            <form>
              <div class="form-group">
                <label for="name">Username</label>
                <input type="text" class="form-control" id="name" aria-describedby="name" />
              </div>
              <div class="form-group mt-2">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="email" />
              </div>
              <div class="form-group mt-2">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary mt-3">Send</button>
            </form>
          </div>
        </div>
      </div>
      <p class="text-center copyright">Copyright©2021 All Rights Reserved By Nauftams</p>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#6c757d"
          fill-opacity="1"
          d="M0,192L48,170.7C96,149,192,107,288,101.3C384,96,480,128,576,154.7C672,181,768,203,864,202.7C960,203,1056,181,1152,170.7C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
    </section>
    <!-- End of Contact -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
